<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="index.js" defer></script>
    </head>
    <body>
        <header>
            <h2>
               Hi, welcome to my dating site
            </h2>
            <form>
                <div class="signUp">
                    <label for="fullName">Your full name</label>
                    <input id="fullName" type="text" required>
                    <label for="password"> Password</label>
                    <input type="password" id="password">
                    <input id="submitUser" type="submit" value="submit">
                </div>
                
                <div class="forgetUser">
                    <label for="forget">Want to delete your profile?</label>
                    <input id="forget" type="reset" value="forget">
                </div>
            </form>
        </header>
        <main>
            <p class="personalGreeting">
                Pls register before signing in
            </p>
        </main>
     
    </body>
</html>
        <br><br>
            <p class="signInGreeting">
             Already got a user? 
            <br>
            <a href="signIn.js">
                Sign in
            </a>
            </p>

   
</body>
</html>
