<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="index.js" defer></script>
</head>

<body>
    <header>
        <h2>
            Hi, Please register to access
        </h2>
        <form>
            <div class="signUp">
                <label for="fullName">Your full name</label>
                <input id="fullName" type="text" required> <br>
                <label for="username">Choose a username</label>
                <input id="username" type="text" required> <br>
                <label for="gender">Your gender</label>
                <select name="gender" id="gender" required>
                    <option value="other">Other</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select><br>
                <label for="password"> Password</label>
                <input type="password" id="password" required>
                <br>
                <input id="submitUser" type="submit" value="submit">
            </div>

        </form>
    </header>

    <div id="message"></div>
    <br><br>
    <p>
        If you do already have an account you can press here to

        <a href="login.html">
            Sign in
        </a>
    </p>

</body>

</html>