<html>

<head>

</head>

<body>
    <a href="homepage.html">
        <input type="button" value="Return to homepage" />
    </a>
    <input id="logout" type="button" onclick="logout()" value="Log out">

    <br><br><br>
    <input id="importUser" type="button" onclick="importUser()" value="Get your first possible match">

    <div> Username</div>
    <div class="username" id="username"></div><br>
    <div> Their full name</div>
    <div class="fullName" id="fullName"></div><br>
    <div> Their gender</div>
    <div class="gender" id="gender"></div><br>






    <input id="likeUser" type="button" onclick="likeUser()" value="LIKE">
    <input id="dislikeUser" type="button" onclick="dislikeUser()" value="DISLIKE">

    <script src="matchSite.js"></script>
</body>

</html>