<html>

<head>
    <script src="matchSite.js"></script>
</head>

<body>
    <a href="homepage.html">
        <input type="button" value="Return to homepage" />
    </a>
    <input id="deleteProfile" type="button" value="Delete your profile">
    <input id="logout" type="button" value="Log out">

    <br><br><br>
    <input id="importUser" type="button" onclick="importUser()" value="Get your first possible match">


    <div class="users">
        

    </div>
    
    
    <br>
    <div class="fullName"></div><br>
    <div class="gender"></div><br>






    <input id="likeUser" type="button" onclick="likeUser()" value="LIKE">
    <input id="dislikeUser" type="button" onclick="dislikeUser()" value="DISLIKE">
</body>

</html>