<html>

<head>
    <script src="profile.js"></script>
    <meta charset="utf-8">
</head>

<body>
    <h1>
        Your profile information
    </h1>
    <a href="matchSite.html">
        <input type="button" value="Find love!" />
    </a>
    <a href="homepage.html">
        <input type="button" value="Return to homepage" />
    </a>
    <input id="deleteProfile" type="button" value="Delete your profile">
    <input id="logout" type="button" value="Log out"><br><br>

    <div>Your username:</div><br>
    <div id="username"></div><br><br>
    <div>Your full name:</div><br>
    <div id="fullName"></div><br><br>
    <div>Your gender:</div><br>
    <div id="gender"></div><br><br>
    <div>Your password:</div><br>
    <div id="password"></div>

    <input id="editProfile" type="button" value="I want to edit my Profile"><br><br>


</body>


</html>